#formNewMessage {
    display: none;
}

#showUsersContainer, #showModerationContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.showUsers, .showModeration {
    text-align: center;
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-color: #eeeeee;
    transition: 0.5s;
}



.showUsers:hover, .showModeration:hover, .toggleCat:hover {
    background-color: #e0e0e0;
}

.toast, #toast-container {
    z-index: 11001;
}
