#homeMain .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#homeMain .card img {
    position: center;
}

.cardVendeur .card-title, .cardVendeur  .card-content,
.card-action  {
    display: flex !important;
}

#profilVendeurMain .articleCard {
    text-align: right;
}


#profilVendeurMain .card-image, #categorieMain .card-image  {
    max-width: 300px;
    height: auto;
    overflow: hidden;
}

#profilVendeurMain .card-image img, #categorieMain .card-image img {
    object-fit: contain;
}

.card-action  {
    align-items: center;
    justify-content: space-evenly;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    #profilVendeurMain .card img, #categorieMain .card img {
        object-fit: cover;
    }


}