#homeMain .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardVendeur .card-title, .cardVendeur  .card-content,
.card-action  {
    display: flex !important;
}

#profilVendeurMain .articleCard {
    text-align: right;
}

.card-action  {
    align-items: center;
    justify-content: space-evenly;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    #profilVendeurMain .card img {
        object-fit: cover;
    }


}