/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    /*border: 1px solid black;*/
}

a {
    color: inherit;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.transition05, .goldHover {
    transition: 0.5s;
}

.justifyText {
    text-align: justify;
}

/*TEXT COLOR*/
.goldText {
    color: #c2ac71;
}

.goldHover:hover {
    color: #c2ac71 !important;
}

/*FLEX/MISE EN FORME*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


main {
    flex: 1 0 auto;
    flex-grow: 1;
    z-index: 1;
}

body, main {
    background-color: #f5f5f5;
}

/*NAV ET HEADER*/

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.brand-logo {
    width: 100%;
}

.liNav {
    width: 20%;
    text-align: center;
}

header .input-field input[type=text] {
    text-align: center;
    color: white;
}

header .input-field input[type=text]:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.liNav:hover {
    color: white;
}

nav::-webkit-input-placeholder {
    text-align: center;
}

nav:-moz-placeholder {
    text-align: center;
}

#headerSearch {
    height: auto;
}

.result {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.result li:hover,
.notificationIndividuelle:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

#secondNav {
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

#secondNav a {
    font-size: 300%;
    color: white;
    opacity: 0.6;
    transition: 0.5s;
}

#secondNav p, footer a, footer span {
    opacity: 0.6;
    text-align: right;
    transition: 0.5s;
}

#secondNav a:hover, footer a:hover {
    opacity: 1;
}

.sidenav .form_recherche {
    padding-left: 20px;
    padding-right: 20px;
}

.article_search {
    color: #fafafa;
}

.article_search:focus {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#mobile-demo {
    background-color: #212121;
    color: white;
}

#mobile-demo li {
    transition: 0.2s;
}

#mobile-demo li:hover {
    background-color: #424242;
}

#mobile-demo a {
    color: white;
}


/*ICONE INITIAL UTILISATEUR */
.initialIdentifiant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.5s;
}

.individualConversation .initialIdentifiant:hover {
    background-color: #eeeeee;
}


/*MODALE */
.modal {
    margin-top: 10px;
    z-index: 100 !important;
    display: none;
    font-size: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 0;
    max-width: 80%;
    max-height: 90%;
    top: 0;
    border-radius: 0px;
}

/*TABLE*/
.tableResponsive {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    #secondNav {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    header {
        position: relative;
    }

    .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
        height: 80%;
    }

    .tableResponsive {
        display: block;
    }
}