/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    /*border: 1px solid black;*/
}

a {
    color: inherit;
    cursor: pointer;
}
.disabled {
    pointer-events: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body, main {
    background-color: #f5f5f5;
}

main {
    flex: 1 0 auto;
    flex-grow: 1;
    z-index: 1;
}

/*NAV*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-center  {
    display:flex;
    justify-content: center;
}

.brand-logo {
    width: 100%;
}

.liNav {
    width: 20%;
    text-align: center;
}

nav .input-field input[type=text] {
    text-align: center;
    color: white;
}

nav .input-field input[type=text]:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.liNav:hover {
    color: white;
}

nav::-webkit-input-placeholder {
    text-align: center;
}

nav:-moz-placeholder {
    text-align: center;
}

#secondNav {
    margin-top: 10px;
    margin-bottom: 10px;
}

#secondNav a {
    font-size: 300%;
    color: white;
    opacity: 0.6;
    transition: 0.5s;
}

#secondNav p, footer a, footer span {
    opacity: 0.6;
    text-align: right;
    transition: 0.5s;
}

#secondNav a:hover, footer a:hover {
    opacity: 1;
}

.sidenav .form_recherche {
    padding-left: 20px;
    padding-right: 20px;
}

#article_search {
    color: #fafafa;
}
#article_search:focus {
    background: none;
    color: white;
}

#mobile-demo {
    background-color: #212121;
    color: white;
}

#mobile-demo li {
    transition: 0.2s;
}
#mobile-demo li:hover {
    background-color: #424242;
}

#mobile-demo a {
    color: white;
}


@media screen and (max-width: 640px) {
    #secondNav {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    header {
        position: relative;
    }

}